.iso_payment_lnbits {
  display: block;
  text-align: center;
}
.iso_payment_lnbits .flip-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 80vw;
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto;
  position: relative;
  perspective: 1000px;
}
.iso_payment_lnbits .flip-box .flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.iso_payment_lnbits .flip-box .flip-box-inner .flip-box-front,
.iso_payment_lnbits .flip-box .flip-box-inner .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  /* Safari */
  backface-visibility: hidden;
}
.iso_payment_lnbits .flip-box .flip-box-inner .flip-box-front {
  background-color: #bbb;
  color: black;
}
.iso_payment_lnbits .flip-box .flip-box-inner .flip-box-back {
  background: url(checkmark.png) no-repeat center center;
  background-size: contain;
  background-color: #fff;
  transform: rotateY(180deg);
}
.iso_payment_lnbits .flip-box .flip-box-inner #lnbitsCopyInvoiceButton {
  display: block;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  border: 1px solid lightgrey;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.iso_payment_lnbits .flip-box.paid .flip-box-inner {
  transform: rotateY(180deg);
}